Ejercicios/Php, sql/Supermercado/document.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="supermercado">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="productos">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="producto">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre_producto" type="xs:string" />
                    <xs:element name="emp" type="xs:string" />
                    <xs:element name="precio" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ofertas">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="oferta">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:unsignedByte" />
                    <xs:element name="descuento" type="xs:decimal" />
                    <xs:element name="fecha_ini" type="xs:date" />
                    <xs:element name="fecha_fin" type="xs:date" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>